# macOS Finder metadata
.DS_Store

# Swap and backup files
*.swp
*.swo
*.swn
*.bak
*.log

# Temporary test files
*.test

# IDE folders
.vscode/
.idea/

# Alfred
config/alfred/Alfred.alfredpreferences/license.plist

# Alfred local machine state
config/alfred/Alfred.alfredpreferences/preferences/local/

# Alfred preferences are synced via Dropbox/iCloud, not git
config/alfred/Alfred.alfredpreferences/